
*,
*::after
*::before{
    box-sizing: border-box;
}
body{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030
    
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{

    max-width: 1220px ;
    padding: 0 10px;
    margin: 0 auto;

}
.titel{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color:#868585;
    margin-bottom: 60px;
    text-transform: uppercase;

}



.header {    
background-image: url(../images/header-bg.jpg) ;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: #ffff;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 70px 10px 38px;
margin-bottom: 150px;
}
.header__subtitel{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: auto;
}
.header__title{
    font-weight: 700;
    line-height: 87px;
    font-size: 64px;

}
.header__title span{
    display: block;
    font-size: 42px;
    line-height: 57px;
}
.header__button{
    margin-bottom: auto;
    margin-top: 50px;
    align-self: center;
}
.button__path{
    transition: fill .5s;
}
.button:hover .button__path{
    fill: #A9A32A;
    
}

.button__text{
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    transform: translateY(-17px);
    margin-left: -57px;
}

.social{
 display: flex;
 justify-content: center;
 align-items: center;
  
}

.social__link{
    padding: 0px 10px;
}

.service{
    margin-bottom: 150px;

}

.service__inner{
    display: flex;
}

.service__content{
    flex-basis: 510px;
    margin-right: 90px;
}

.service__box{
margin-bottom: 50px;
}
.service__box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.service__img{
object-fit: cover;
}

.info{
    margin-bottom: 150px;
}

.info__inner{
    display: flex;
}
.info__box{
    flex-basis: 510px;
    margin-right: 90px;
}
.info__content{
    flex-basis: 600px;
}
.info__content-text{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 17px;

}
.info-tabs{
    margin-bottom: 100px;
}
.info-tabs__item{
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
}
.info-tabs__items{
    margin-bottom: 120px; 
}
.info-tabs__item--active{
    border-bottom: 1px solid #303030;
}
.info-tabs__content{
    display: none;
}
.info-tabs__content--active{
    display: block;
}
.info-slider{
    max-width: 510px;
}
.info-slider__text{
    padding-bottom: 15px;
}
.info-slider__img{
    margin-right: 40px;
    float:left;

}
.slick-arrow{
    position: absolute;
    left: 275px;
    bottom: -3px;
    z-index: 5;
    cursor: pointer;

}
.slick-right{
    left: 340px;

}
.info__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.info__list-item{
    flex-basis: 235px;
    margin-bottom: 17px;   
}
.info__list-titel{
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.blockquote{
    padding: 128px 10px 144px;
    background-image: url(../images/blockquote.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;
}
.blockquote__text{
    max-width: 670px;
    margin: 0 auto;
    font-size: 42px;
    line-height: 57px;
    color:#fff;
}
.clients{
    margin-bottom: 150px;

}
.clients-slider__box{
    display: flex;
}
.clients-slider__box-img{
    flex-basis: 510px;
    margin-right: 90px;
    margin-bottom: 30px;

}
.clients-slider__box-titel{
    max-width: 478px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 30px;

}
.clients-slider__box-list{
    margin-left: 50px;
    margin-bottom: 50px;
}
.clients-slider__box-item{
    margin-bottom: 15px;

}
.slick-arrow path{
transition: fill .5s;
}

.slick-arrow:hover path{
    fill: #A9A32A;
    }

.step{
    margin-bottom: 150px;    
}
.step__inner{
    display: flex;
}
.step__img{
    flex-basis: 600px;
    object-fit: cover;
    
}
.step__content{
    margin-right: 90px;
}
.step__list{
    list-style: none;
    counter-reset: number;
  
}
.step__list-item{
    counter-increment: number;
    margin-bottom: 30px;
}
.step__list-item::before{
    content: '0' counter(number);
    margin-bottom: 11px;
    color: #868585;
}
.step__list-titel{
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
}
.step__list-item:nth-child(n+10)::before{
    content: counter(number);
}

.footer{
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 50px;
    color:#fff;
    
}
.footer__top{
    display: flex;

    margin-bottom: 150px;
}
.footer__form{
    flex-basis: 510px;
    margin-right: 90px;

}
.footer__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 43px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.footer__input{
border: none;
border-bottom: 1px solid #fff;
display: block;
width: 100%;
background-color: transparent;
padding-bottom: 11px;
font-family: Noto Sans;
font-size: 14px;
line-height: 19px;
color:#fff;
margin-bottom: 60px;
}

.footer__input::placeholder{
font-family: Noto Sans;
font-size: 14px;
line-height: 19px;
color:#fff;

}

.footer__form-btn{
background-color: transparent;
border: none;
padding: 0;
color:#fff;

}

.footer__bottom{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .social{
    margin-right: -10px;
}

.footer__contact-item{
font-size: 18px;
line-height: 25px;
margin-bottom: 30px;
}

@media ( max-width: 1240px){
    
    .info__inner{
     flex-wrap: wrap-reverse;
     }
    .info__content{
     flex-basis: 100%;
     flex-wrap: wrap-reverse;
     }
     .info-tabs__items {
        margin-bottom: 40px;
    }
    .info-tabs__items {
        margin-top: 40px;
    }

}

@media ( max-width: 1024px){
    
    .service__inner{
        flex-wrap: wrap;
     }
     .service__content{
         flex-basis: 100%;
         margin-right: 0;
     }
     .service__img{
         width: 100%;
         height: 600px;
     }
     .clients-slider__box {
        flex-wrap: wrap;
        
    }
    .step__inner{
        flex-wrap: wrap;
    }
    .step__content{
        margin-right: 0;
    }
    .step__img{
        object-fit: cover;
        height: 400px;
        flex-basis: 100%;
    }
}
@media ( max-width: 768px){
     .clients-slider__box-title{
         max-width: 100%;
     }
     .clients-slider__box{
         max-width: 100%;
     }
     .clients-slider__box-img{
         width: 100%;
         object-fit: cover;
         height: 300px;
         margin-right: 0;

     }

}

@media ( max-width: 768px){
    
    .header__title{
        line-height: 56px;
        font-size: 48px;
     }
     .header__title span{
        line-height: 32px;
        font-size: 40px;
        
    }
    .blockquote__text {
        padding: 60px 10px 80px;
        font-size: 27px;
        line-height: 37px;
     }
     .footer__bottom{
        flex-wrap: wrap;
        justify-self: center;


     }
     .footer__bottom .logo{
         margin: 20px 0;  
         text-align: center; 
         width: 100%;
         text-align: center;  
     }
     .footer__top{
         flex-wrap: wrap;

     }
     .footer__form{
         flex-basis: 100%;
         margin-right: 0;
         margin-bottom: 40px;
     }
}

@media ( max-width: 640px){
    .header,
    .service,
    .info,
    .blockquote,
    .clients,
    .step,
    .footer__top{
        margin-bottom: 75px;
    }
}

@media ( max-width: 540px){
    
    .header__title{
        line-height: 32px;
        font-size: 38px;
    }
    .header__title span{
        line-height: 22px;
        font-size: 28px;
        
    }
    .header__subtitle{
        line-height: 16px;
        font-size: 22px;
        
    }
}
@media ( max-width: 375px){
    
    .button__text{
        margin-left: -76px;
    }
    .title{
        margin-bottom: 40px;
        
    }
    .service__box{
        margin-bottom: 30px;
    }
}
